!staging/s3-remote-state/terraform.tfstate
*/*/terraform.tfstate.backup
*/*/terraform.tfstate.*.backup
*/*/*/terraform.tfstate.backup
*/*/*/terraform.tfstate.*.backup
*/*/*/*/terraform.tfstate.backup
*/*/*/*/terraform.tfstate.*.backup
*/*/*/.terraform*
*/*/.terraform*
*/*/.terraform
*/*/*/.terraform*
*/*/*/.terraform
*/*/*/*/.terraform*
*/*/*/*/.terraform
*/.terraform
*/terraform.tfstate.*
*/terraform.tfstate
*/.terraform.tfstate.*
*/.terraform.tfstate
*/*/*/script/*.zip
*.pyc
*.DS_Store
